# Visual Studio Code
.vscode/

# macos
.DS_Store

# GameBoy emulator and Pokemon ROM
emulator/

# Python virtual environment
.venv/

# Python
__pycache__/
.mypy_cache/
.python-version

# Logs and traffic dumps
logs/*
!.gitkeep
